<div class="container">
    <div routerLink="/home" class="tab" (click)="onClickTab(0);">
        <img *ngIf="selectedTabIndex!==0" src='../../assets/images/home-icon-silhouette-black.png' height="24" width="24" />
        <img *ngIf="selectedTabIndex===0" src='../../assets/images/home-icon-silhouette-theme.png' height="28" width="28" />
        <span [ngClass]="(selectedTabIndex===0)?'selected': 'unselected'">HOME</span>
    </div>
    <div routerLink="/trends" class="tab" (click)="onClickTab(1);">
        <img *ngIf="selectedTabIndex!==1" src='../../assets/images/fire-black.png' height="24" width="24" />
        <img *ngIf="selectedTabIndex===1" src='../../assets/images/fire-theme.png' height="28" width="28" />
        <span [ngClass]="(selectedTabIndex===1)?'selected': 'unselected'">TRENDS</span>
    </div>
    <div class="tab" (click)="onClickTab(2);">
        <img *ngIf="selectedTabIndex!==2" src='../../assets/images/user.png' height="24" width="24" />
        <img *ngIf="selectedTabIndex===2" src='../../assets/images/user-theme.png' height="28" width="28" />
        <span [ngClass]="(selectedTabIndex===2)?'selected': 'unselected'">PROFILE</span>
    </div>
</div>
